params {
    config_profile_description = 'RSlabconfigs cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'Pranjal (https://github.com/Pranjal-Bioinfo)'
}

process {
    executor       = 'slurm'
    clusterOptions = '--account=common --partition=compute --exclude=node18,node30'
    beforeScript   = 'module avail singularity; module load singularity-3.7.4 || true'
    
    resourceLimits {
        cpus   = 40
        memory = 300.GB
    }
}

executor {
    queueSize       = 10
    submitRateLimit = '10 sec'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = '/lustre/saraswati/singularity'
    runOptions = '--cleanenv'
}
