params {
  config_profile_description = '<RSlabconfigs> cluster profile provided by nf-core/configs.'
  config_profile_contact = '<Pranjal> (<https://github.com/Pranjal-Bioinfo>)'
}
process {
  resourceLimits {
    cpus = 40
    memory = 350.GB
    time = 720.h
  }
  executor = 'slurm'
  queue = 'compute'
  beforeScript = 'module avail singularity'
}
executor {
  queueSize = 13
}
singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/lustre/vikasmh/SARAS/singularity_cache'
}
