params {
    config_profile_description = 'RSlabconfigs cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'Pranjal (https://github.com/Pranjal-Bioinfo)'
}

process {
    executor       = 'slurm'
    queue          = 'cancerq'
    beforeScript   = 'module avail singularity; module load singularity-3.7.4 || true'
    clusterOptions = '--exclude=node43,node41'
    
    resourceLimits {
        cpus   = 40
        memory = 350.GB
    }
}

executor {
    queueSize       = 50
    submitRateLimit = '10 sec'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = '/lustre/rsharma/animal_gut_MAGs/singulariy'
    runOptions = '--cleanenv'
}
